/*SEÇÃO CATALOGO*/
@use "mixins";
#catalog {
  background-color: var(--gray);
  height: 1095px;
  h2 {
    font-weight: 400;
    font-size: 36px;
    color: var(--dark);
    font-family: "Montserrat";
    text-align: center;
    width: 100%;
    padding: 60px 0px 30px 0px;
  }
  #container-catalog {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 0px;
    ul {
      display: flex;
      gap: 10px;
      list-style-type: none;
      flex-wrap: wrap;
      li {
        width: 277px;
        height: 448px;
        background-color: var(--white);
        cursor: pointer;
        padding: 10px;
        #fig01 {
          @include mixins.bg-img("catalog-fig01.jpg");
          #layer {
            @include mixins.layer;
            button {
              @include mixins.btn;
            }
          }
        }
        #fig02 {
          @include mixins.bg-img("catalog-fig02.jpg");
          #layer {
            @include mixins.layer;
            button {
              @include mixins.btn;
            }
          }
        }
        #fig03 {
          @include mixins.bg-img("catalog-fig03.jpg");
          #layer {
            @include mixins.layer;
            button {
              @include mixins.btn;
            }
          }
        }
        #fig04 {
          @include mixins.bg-img("catalog-fig04.jpg");
          #layer {
            @include mixins.layer;
            button {
              @include mixins.btn;
            }
          }
        }
        #fig05 {
          @include mixins.bg-img("catalog-fig05.jpg");
          #layer {
            @include mixins.layer;
            button {
              @include mixins.btn;
            }
          }
        }
        #fig06 {
          @include mixins.bg-img("catalog-fig06.jpg");
          #layer {
            @include mixins.layer;
            button {
              @include mixins.btn;
            }
          }
        }
        #fig07 {
          @include mixins.bg-img("catalog-fig07.jpg");
          #layer {
            @include mixins.layer;
            button {
              @include mixins.btn;
            }
          }
        }
        #fig08 {
          @include mixins.bg-img("catalog-fig08.jpg");
          #layer {
            @include mixins.layer;
            button {
              @include mixins.btn;
            }
          }
        }
        h6 {
          font-weight: 400;
          font-size: 18px;
          font-family: "Montserrat";
          color: var(--dark);
          margin: 30px 10px 21px;
        }
        span {
          font-weight: bold;
          font-size: 20px;
          color: var(--dark);
          font-family: "Montserrat";
          margin-left: 10px;
        }
      }
    }
  }
}
